/* Police plus petite pour l'ensemble de la page */
body {
  font-size: 0.85em;
  font-family: Arial, sans-serif;
}

.modal-dialog {
  margin-top: 150px;
  /* Ajustez la valeur selon votre préférence */
}

header {
  position: fixed;
  /* Fixe le header en haut */
  top: 0;
  left: 0;
  width: 100%;
  /* Occupe toute la largeur de la page */
  background-color: #ffffff;
  /* Couleur du fond, ajustez selon votre thème */
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
  /* Légère ombre pour le relief */
  z-index: 1000;
  /* Assure que le header est au-dessus des autres éléments */
}

#favorisBar {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 0px;
  border-radius: 0 0 8px 8px;
  /* Arrondit uniquement les coins inférieurs */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.favori-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px 0px 0px 13px;
}

.favori-item {
  position: relative;
}

.favori-item[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 125%;
  /* Place l'infobulle au-dessus de l'élément */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(60, 60, 60, 0.9);
  /* Fond sombre mais légèrement transparent */
  color: #f0f0f0;
  /* Texte légèrement gris */
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.85em;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Ajoute une ombre douce */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.favori-item[title]:hover::after {
  opacity: 1;
  transform: translate(-50%, -5px);
  /* Légère animation vers le haut */
}

.favori-item[title]:hover::before {
  content: "";
  position: absolute;
  bottom: 115%;
  /* Ajuste la position de la flèche */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(60, 60, 60, 0.9) transparent transparent transparent;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.favori-item[title]:hover::before {
  opacity: 1;
}

.favori-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detach-icon {
  position: relative;
  top: 15px;
  right: -33px;
  cursor: pointer;
  color: red;
  font-size: 12px;
  background: white;
  border-radius: 50%;
}

.favori-title {
  font-size: 8px;
  text-align: center;
  margin-top: -1px;
}

.container {
  margin-top: 160px;
  padding: 15px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#wallpaperContainer img {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.3s ease;
  border: 2px solid transparent;
}

#wallpaperContainer img.selected {
  border: 2px solid #007bff;
  border-radius: 10px;
}

#backgroundOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.editable {
  display: none;
}

.burger-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5em;
  z-index: 1000;
}

.burger-menu-content {
  display: none;
  position: fixed;
  top: 50px;
  right: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1001;
}

.burger-menu-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.burger-menu-content a:hover {
  background-color: #f1f1f1;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .35rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

.bookmark-section {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 5px 5px 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: relative;
  font-size: 0.8em;
  box-sizing: border-box;
}

.bookmark-title {
  font-weight: bold;
  font-size: 0.9em;
}

.delete-icon {
  cursor: pointer;
  color: red;
  float: right;
  font-size: 0.9em;
}

.section-container {
  min-height: 200px;
  padding-bottom: 40px;
}

#languageSelect {
  font-size: 11px;
}

.btn {
  height: 25px;
  padding: 1px .75rem;
  font-size: 11px;
}

/* Configuration pour l'affichage en trois colonnes */
.col-lg-4 {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  /* Deux colonnes sur écrans moyens */
  max-width: 30%;
}

@media (min-width: 1600px) {
  .col-lg-4 {
    flex: 0 0 24%;
    /* Deux colonnes sur écrans moyens */
    max-width: 24%;
  }
}

/* Adaptation pour que chaque section occupe toute la largeur sur les petits écrans */
@media (max-width: 992px) {
  .col-lg-4 {
    flex: 0 0 48%;
    /* Deux colonnes sur écrans moyens */
    max-width: 48%;
  }

  .btn-text {
    display: none;
    /* Masquer le texte des boutons */
  }

  .btn-icon {
    display: inline;
    /* Afficher les icônes */
  }
}

@media (max-width: 768px) {
  .col-lg-4 {
    flex: 0 0 100%;
    /* Une seule colonne sur écrans petits */
    max-width: 100%;
  }


}

/* Positionnement du champ de numéro Jira en haut à droite */
.jira-input-container {
  justify-content: center;
  /* Centrer le contenu horizontalement */
  font-size: 0.9em;
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
  color: #007bff;
  font-size: 1em;
  position: relative;
}

.info-text {
  display: none;
  position: absolute;
  top: -60px;
  right: 0;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 0.75em;
}

/* Styles pour les toasts */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
  z-index: 1000;
}

.toast.visible {
  opacity: 1;
  bottom: 40px;
}

/* Types de toasts */
.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}

#languageSelect option {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.language-flag {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.language-flag.selected {
  border: 2px solid #007bff;
  border-radius: 3px;
}

.custom-select {
  position: relative;
  width: 100px;
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
}

.selected-option .flag {
  width: 20px;
  margin-right: 5px;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  z-index: 10;
}

.options .option {
  display: flex;
  align-items: center;
  padding: 5px;
}

.options .option:hover {
  background-color: #f1f1f1;
}

.options .flag {
  width: 20px;
  margin-right: 5px;
}